.home-page-color {
  height: 100vh;
  background-color: #28b89a;
}

.home-header {
  display: flex;
  justify-content: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 2rem;

  @media (width >= 500px) {
    padding-top: 1.5rem;
  }
}
