.auction-container {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 5%;
  margin-bottom: 5%;

  @media (width >= 500px) {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
  }
}

.liveauction-searchBar {
  width: 100%;
  padding-top: 1.3rem;

  @media (width >= 500px) {
    width: 100%;
  }
}

/* this css class is so if there are no vehicles the user has searched for it shows
on a card that no vehicles have been found */
.no-vehicle-options {
  height: 150px;
  width: 200px;
  font-weight: bold;
  font-size: 1.3rem;
  background-color: #f2eeee;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.auction-2button-container {
  padding-top: 1.3rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.startLive-auction {
  background-color: orange;
  color: black;
  margin-right: 0.6rem;
}

.startLive-auction:hover {
  background-color: black;
  color: orange;
}

.liveauction-favButton {
  margin-left: 1.3rem;
  width: 50px;
  height: 50px;
  background-color: #c7c7c7;
}

.liveauction-favButton:hover {
  background-color: #f8c800;
  border: 3px solid #f8c800;
}

.liveauction-autoBidButton {
  width: 50px;
  height: 50px;
  color: white;
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  background-color: #c7c7c7;
}

.liveauction-autoBidButton:hover {
  background-color: #5295f9;
  border: 3px solid #5295f9;
}

/* overflow-x with a value of scroll allows for the ability to scroll within a
container from left to right. It's possible to limit the amount of items in a
container by using JS slice method */
.scroll-container-bidCards {
  height: 365px;
  padding-left: 2%;
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 1rem;
  width: calc(225px * 5 + 4rem);
  max-width: 100%;
}

/* this css class changes the color of the bar that is displayed */
.scroll-container-bidCards::-webkit-scrollbar {
  /* background-color: white; */

  background-color: #c7c7c7;
  height: 4px;
}

.scroll-container-nextUpCards {
  overflow-x: scroll;

  /* overflow-x: auto; */
  height: 365px;
  padding-left: 2%;
  padding-top: 2%;
}

.scroll-container-nextUpCards::-webkit-scrollbar {
  /* background-color: transparent; */

  /* width and height need to be set in order to reduce the thickness of the scrollbar
in the browser */
  background-color: #c7c7c7;
  height: 2px;
  width: 2px;
}

/* this class will be used for the Details of each car */
.scroll-container-details {
  width: 100%;

  @media (width >= 500px) {
    overflow-y: scroll;
    height: 100vh;
    padding-left: 0.1rem;
    padding-right: 0.3rem;
    padding-top: 0.4rem;
  }
}

/* this class is to allow the user to scroll within the page vertically to view car details */
.scroll-container-details::-webkit-scrollbar {
  height: 100vh;

  @media (width >= 500px) {
    /* turn this white class back on, black is just to get a visual of what is currently happening
    background-color: white; */

    background-color: transparent;

    /* background-color: black; */
    width: 4px;
  }
}

/* this class is currently not being used? double check before deleting
.auction-margin-top {
  margin-top: 5%;

  @media (width >= 500px) {
    margin-top: 10%;
    margin-left: 1.5%;
  }
} */

.auction-row {
  @media (width >= 500px) {
    display: flex;
  }
}

.auction-column-right {
  @media (width >= 500px) {
    width: 43%;
  }
}

.auction-column-left {
  @media (width >= 500px) {
    width: 57%;
  }
}

* {
  box-sizing: border-box;
}
