.auction-container {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 5%;
  margin-bottom: 5%;

  @media (width >= 500px) {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
  }
}

.scroll-container-cards {
  overflow-x: scroll;
  height: 365px;
  padding-left: 2%;
  padding-top: 2%;
}

/* this css class changes the color of the bar that is displayed */
.scroll-container-cards::-webkit-scrollbar {
  /* background-color: white; */
  background-color: #c7c7c7;
  height: 4px;
}

/* this class will be used for the Details of each car */
.scroll-container-details {
  @media (width >= 500px) {
    overflow-y: scroll;
    height: 100vh;
    padding-left: 0.1rem;
    padding-right: 0.3rem;
    padding-top: 0.4rem;
  }
}

/* this class is to allow the user to scroll within the page vertically to view car details */
.scroll-container-details::-webkit-scrollbar {
  height: 100vh;

  @media (width >= 500px) {
    /* turn this white class back on, black is just to get a visual of what is currently happening
    background-color: white; */
    background-color: black;
    width: 4px;
  }
}

.auction-margin-top {
  margin-top: 5%;

  @media (width >= 500px) {
    margin-top: 10%;
    margin-left: 1.5%;
  }
}

.auction-row {
  @media (width >= 500px) {
    display: flex;
  }
}

.auction-column-quarter {
  @media (width >= 500px) {
    width: calc(100% / 5);
  }
}

.auction-column-right {
  @media (width >= 500px) {
    width: 43%;
  }
}

/* this is currently in use but needs to be changed at some point to reflect the fimga */
.auction-column-left {
  @media (width >= 500px) {
    /* this value 100% width is great, was just turned off and changed to a lower value to test
    57% is a number that was used to 'eyeball the example figma'
    width: 100%; */
    width: 57%;
  }
}

* {
  box-sizing: border-box;
}
