.runlist-container {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 5%;
  margin-bottom: 5%;

  @media (width >= 500px) {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
  }
}

.margin-top {
  margin-top: 5%;

  @media (width >= 500px) {
    margin-top: 10%;
    margin-left: 1.5%;
  }
}

.row {
  @media (width >= 500px) {
    display: flex;
  }
}

.column-quarter {
  @media (width >= 500px) {
    width: calc(100% / 5);
  }
}

.column-half {
  @media (width >= 500px) {
    width: calc(100% / 2);
  }
}

* {
  box-sizing: border-box;
}
