.arrow-color-left {
  color: black;
  padding-right: 4rem;
}

.arrow-color-right {
  color: black;
  padding-left: 4rem;
}

.car-image {
  width: 100%;
}

.row {
  display: flex;

  @media (width >= 500px) {
    display: flex;
  }
}

.column-full {
  flex-basis: 100%;
}
