.current-image {
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 16px;
  width: 67%;

  /* this max width is what will break everything if you type in something crazy */
  @media (width >= 500px) {
    margin-left: 3.8rem;
    width: 50%;
  }
}

.image-wrapper {
  max-width: 600px;
  height: 200px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (width >= 500px) {
    width: 100%;
    max-width: 1200px;
    height: 400px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.image-caption {
  position: absolute;
  background-color: #f0f0f0;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin-top: 10.5rem;
  border-radius: 4px;

  @media (width >= 500px) {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 23rem;
    font-family: sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    color: black;
    height: 30px;
    background-color: #f0f0f0;
  }
}

.progress-dots {
  height: 2rem;
  display: flex;
  justify-content: center;
  margin: 0.5rem 1rem;
}

.progress-dot {
  margin: 0 0.25rem;
}

.progress-dot,
.prev-image,
.next-image {
  cursor: pointer;
}

.prev-image,
.next-image {
  position: absolute;
  color: white;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);

  @media (width >= 500px) {
    margin-top: 10rem;
  }
}

.prev-image {
  left: 1.5rem;

  @media (width >= 500px) {
    left: 10rem;
  }
}

.next-image {
  right: 0.5rem;

  @media (width >= 500px) {
    right: 10rem;
  }
}
