.details-view-container {
  width: 100%;

  @media (width >= 500px) {
    height: 100vh;
    width: 100%;
  }
}

.greenBar-Timer {
  display: flex;
  position: relative;
  justify-content: space-around;
  margin-bottom: 0.5rem;
  background-color: #28b89a;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 2.7rem;
  animation: countDown forwards 10s;

  @keyframes countDown {
    from {
      animation: forwards;
      background-color: black;
    }

    to {
      background-color: white;
    }
  }
}

.details-image-open {
  width: 100%;
}

.details-flex-row {
  display: flex;
}

.details-column-full {
  flex-basis: 100%;
}

.details-lane-assignment {
  display: flex;
  position: relative;
  color: #28b89a;
  font-weight: bold;
  font-size: 1.5rem;
}

.details-squares-container {
  display: flex;
  align-items: center;
  flex-flow: row;
  width: 100%;
}

.details-image-span {
  position: absolute;
  color: white;
}

.detail-squares {
  height: calc(32px * 4);
  width: calc(32px * 4);
  color: black;
  background-color: #f0f0f0;
  font-size: 1.1rem;
}

.details-image-container {
  width: 100%;
}
