.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 300;
}

.navbar-bottom {
  display: flex;
  justify-content: center;
  gap: 3rem;
  color: black;
  padding: 0.75rem 0;
  font-weight: 300;
  font-size: 1rem;
}

.bg-black {
  background-color: #272727;
}

.bg-green {
  background-color: #28b89a;
}

.bg-white {
  background-color: white;
}

.logo {
  font-size: 1.75rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 2rem;
  font-size: 1rem;
  align-items: center;
}

.profile-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  color: rgb(236, 236, 236);
}

.nav-link.active {
  text-decoration-color: white;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  padding-bottom: 0.1rem;
  border-bottom: 4px solid white;
}
