.nextUp-card-container {
  display: flex;
}

.nextUp-card {
  height: 85px;
  width: 200px;
  background-color: #f2eeee;
  margin-top: 0.3rem;
  margin-bottom: 0.9rem;
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nextUp-card:hover {
  transform: scale(0.9);
  box-shadow: 0 0 10px #1162bb;
  cursor: pointer;
}

.nextUp-card-body {
  padding-top: 1rem;
  padding-left: 1.5rem;
}

.nextUp-lane {
  color: #28b89a;
  font-style: oblique;
  font-size: 1.1rem;
  padding-left: 15%;
  text-transform: uppercase;
}

.nextUp-vehicle-year-make {
  font-weight: bold;
  color: black;
  font-size: 1.1rem;
}

.nextUp-vehicle-model {
  display: flex;
  margin-top: 0.3rem;
  font-size: 0.9rem;
  color: black;
}
